@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body{
    width: 100vw;
    height: 100vh;
    position: relative;

    background-color: white;
    background-image: url(./img/diag.svg);
    background-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: pan 360s linear infinite;

    overflow: hidden;
}

.gold-container{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;

    background-color: #ffc100;

    color:  white;
    font-size: 2rem;
    padding: 1rem 3rem;

    border-radius: 10px;
    
    position: absolute;
    top: 2%;
    right: 1%;
    z-index: 2;
}

.gold-open{
    top: 8%;
    right: 12%;
}

.menu{
    position: relative;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#polygon{
    display: block;
    position: absolute;
    bottom: 0;
    
    width: 100%;
    height: 30%;
    
    clip-path: polygon(
        0% 5%, 1.25% 0%, 2.5% 5%, 
        3.75% 0%, 5% 5%, 6.25% 0%, 
        7.5% 5%, 8.75% 0%, 10% 5%, 
        11.25% 0%, 12.5% 5%, 13.75% 0%, 
        15% 5%, 16.25% 0%, 17.5% 5%, 
        18.75% 0%, 20% 5%, 21.25% 0%, 
        22.5% 5%, 23.75% 0%, 25% 5%, 
        26.25% 0%, 27.5% 5%, 28.75% 0%, 
        30% 5%, 31.25% 0%, 32.5% 5%, 
        33.75% 0%, 35% 5%, 36.25% 0%, 
        37.5% 5%, 38.75% 0%, 40% 5%, 
        41.25% 0%, 42.5% 5%, 43.75% 0%, 
        45% 5%, 46.25% 0%, 47.5% 5%, 
        48.75% 0%, 50% 5%, 51.25% 0%, 
        52.5% 5%, 53.75% 0%, 55% 5%, 
        56.25% 0%, 57.5% 5%, 58.75% 0%, 
        60% 5%, 61.25% 0%, 62.5% 5%, 
        63.75% 0%, 65% 5%, 66.25% 0%, 
        67.5% 5%, 68.75% 0%, 70% 5%, 
        71.25% 0%, 72.5% 5%, 73.75% 0%, 
        75% 5%, 76.25% 0%, 77.5% 5%, 
        78.75% 0%, 80% 5%, 81.25% 0%, 
        82.5% 5%, 83.75% 0%, 85% 5%, 
        86.25% 0%, 87.5% 5%, 88.75% 0%, 
        90% 5%, 91.25% 0%, 92.5% 5%, 
        93.75% 0%, 95% 5%, 96.25% 0%, 
        97.5% 5%, 98.75% 0%, 100% 5%, 
        100% 100%, 0% 100%
      );
}

.polygon-background{
    height: 100%;
    width: 100%;

    background-color: white;
    background-image: url(./img/diag.svg);
    background-size: 10px;
    animation: pan 360s linear infinite;
    box-shadow: inset 0rem 0.5rem 2rem 0.25rem rgb(0 0 0 / 40%);
}

.background{
    position: absolute;
    width: 100vw;
    height: 75vh;

    background: radial-gradient(#ffc100, #ff9600);
    box-shadow: 0px 0px 50px #00262e;

    z-index: -10;
}

#sparkle{
    position: relative;

    height: 100%;
    width: 100%;
    background-image: url(./img/hideout.svg);
    background-size: 5%;
    animation: pan 180s linear infinite;

    z-index: -8;
}

#panel{
    position: absolute;
    height: 100%;
    width: 100%;

    background: radial-gradient(transparent, #ff9600);
    z-index: -6;
}

.game-title{
    width: 50vw;
    min-width: 370px;
    margin-top: 5vh;
}

.button-container{
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 30%;

    display: flex;
    align-items: center;
   justify-content: space-evenly;
}

.button{
    width: 16rem;
    padding: 0.85rem;
    position: relative;
    font-size: 1.25rem;
    color: white;
    background-color: #00262e;
    border: 0.2rem solid white;
    border-radius: 0.75rem;
    outline: 0.2rem solid #00262e;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 15px #4D3A4D;
}

.button:hover{
    background-color: #ff9600;
    outline: 0.2rem solid #ff9600;
    background-image: url(./img/hideout.svg);
    background-size: 20%;
    animation: pan 10s linear infinite;
    transition: ease-in-out 0.1s;
}

.nav{
    position: fixed;
    height: 100vh;
    width: 150px;

    display: none;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    left: 0;
    gap: 2rem 0;
    
    background-color: #4D3A4D;
    box-shadow: 0px 0px 15px #4D3A4D;
}

.icon-container {
    height: 100px;
    width: 100px;

    background-color: #D59DC5;
    color: #EADADA;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
}

.icon-container:hover{
    color: #4D3A4D;
    background-color: #EADADA;
    transition: ease-in-out 0.1s;
    cursor: pointer;
}

.icon{
    height: 50px;
    width: 50px;
}

.create-monster-container{
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;

    gap: 5rem 3rem;

}

.plus{
    width: 350px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #68d2e8;
    color: white;
    box-shadow: 0px 0px 15px #4d3a4d2d;

    border-radius: 0px 50px 50px 0;
    outline: 0.2rem solid #68d2e8;
    border: 0.2rem solid white;

    background-image: url(./img/hideout-blue.svg);
    background-size: 20%;
    animation: pan 30s linear infinite;
    transition: box-shadow 0.3s ease-in-out; 

    font-size: 2rem;
}

.plus > img{
    height: 2rem;
}

.plus:hover{
    cursor: pointer;
    animation: glow-blue 2s ease-in-out infinite, pan 30s linear infinite;
}

h1{
    font-size: 4rem;
    color: #EADADA;
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.form-title{
    font-weight: lighter;
}

#createMonsterForm{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.input{
    outline: none;
    width: 100%;
    border-radius: 5px;
    border: solid 1px white;
    height: 25px;
    color: white;
    background-color: transparent;
    margin-top: 0.5rem;
}

.input:hover{
    cursor: pointer;
    border-color: white;
}

select:active, select:focus{
    background-color: #00262e;
}

.file{
    opacity: 0;
}

.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-parameter > svg{
    height: 50px;
    width: 50px;
}
.audio-parameter > svg:hover{
    cursor: pointer;
}

audio{
    display: none;
    box-shadow: 0px 0px 15px #00262e77;
    border-radius: 50px;
}

.audio-toggle{
    display: block;
}

.modal{

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50%;
    padding: 1rem;


    background-color: #00262e;
    background-image: url(/img/hideout-blue.svg);
    background-size: 10%;
    animation: pan 60s linear infinite;

    border: 2px solid #EADADA;
    outline: 4px solid #00262e;
    border-radius: 50px 0 50px 0;
    color: #EADADA;
    box-shadow: 0px 0px 15px #00262e;

    position: absolute;
    z-index: 10;
}

#overlay{
    display: none;
    height: 100vh;
    width: 100vw;
    z-index: 9;
    background-color: #00262e23;
    position: absolute;
    cursor: pointer;
}

.container{
    width: 100%;
    margin:0 auto;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.stats-input-container > .stats{
    display: grid;
    grid-template-columns: 50% 50%;
}

.input-name-container{
    display: flex;
    flex-direction: column;
}

.role-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.role{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20%;
    background-color: #ff9600;
    background-image: url(./img/plus-white.svg);
    background-size: 30%;
    padding: 0.5rem 0.2rem;
    margin: 1rem 0;

    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;

    border: 2px solid white;
    outline: 3px solid #ff9600;
    border-radius: 5px;

    animation: pan 10s linear infinite;
}

.role:hover{
    background-color: #68d2e8;
    outline-color: #68d2e8;
    cursor: pointer;
}

.stats-input-container{
    align-items: center;
}

#points{
    margin-bottom: 1rem;
}


#arise{
    margin: 0 auto;
    width: 100%;
    text-transform:uppercase ;
    font-weight: bold;
}

#levelUp {
    display: block;
}

.sprite{
    margin: 1rem auto;

    height: 100px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #EADADA;
    border-radius: 10px;
    box-shadow: 0px 0px 15px white;

}

.pokemon-resume:first-child{
    position: relative;

    border-radius: 10px;
    width: 40%;
    padding: 2.5rem;

    border: 0.2rem solid white;
    border-radius: 0px 50px 0px 50px;
    outline-color: #ffc100;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem 0;
    background-image: url(./img/wave-yellow.svg);
    background-color: #ffc100;
    background-size: 20%;
    animation: pan 30s linear infinite;
}

.selected{
    background-color: #EADADA;
    color: #4D3A4D;
}

.pokemon-resume{
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem 0;
    background-image: url(./img/wave.svg);
    background-size: 20%;
    animation: pan 30s linear infinite;
}

.pokemon-resume > .health-bar{
    position: absolute;
    width: 65%;
    bottom: 45%;
    height: 4px;
}

.pokemon-resume:first-child{
    width: 300px;
}

.pokemon-resume:first-child:hover{
    animation: glow-yellow 2s ease-in-out infinite, pan 30s linear infinite;
}

.pokemon-resume:first-child > span{
    position: absolute;
    right: 0;
    bottom: -20%;
    color: rgba(255, 255, 255, 0.259);
    font-size: 10rem;
    font-weight: bold;

}
.pokemon-resume > span{
    position: absolute;
    right: 5%;
    bottom: -10%;
    color: #03b0d23f;
    font-size: 5rem;
    font-weight: bold;

}

.pokemon-resume:first-child > img{
    position: absolute;
    top: -20%;
    left: -50px;
    width: 100px;
    height: 100px;
    animation: resume-sprite-animation 0.5s linear infinite;
}
.pokemon-resume > img{
    position: absolute;
    top: -50%;
    left: -50px;
    width: 100px;
    height: 100px;
    animation: resume-sprite-animation 0.5s linear infinite;
}

.pokemon-resume > h2{
    font-size: 1.2rem;
}

.resume {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    width: 80%;
}

.category-container{
    position: relative;

    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 4rem;
    background-color: #ff9600;
    background-image: url(./img/hideout.svg);
    background-size: 5%;
    border-top: 1px solid white;
    color: white;
    text-transform: uppercase;

    animation: pan 180s linear infinite;
}

.category-container > h3{
    position: absolute;
    top: 0;
    left: 2%;

    font-size: 8rem;
    color: rgba(255, 255, 255, 0.377);
}

.corner{
    height: 100%;
    width: 40%;

    background-color: #00262e;
    background-image: url(./img/background/temple.webp);
    background-size: cover;

    position: absolute;
    z-index: 0;
    right: 0;

    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
    box-shadow: inset 0rem 0.5rem 2rem 0.25rem rgb(0 0 0);
}

.icon-container::before {
    content: attr(data-name);
    display: block;

    position: absolute;
    top: -25%;

    width: 150px;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.8rem;

    background-color: #00262e;
}

.icon-container:hover{
    color: white;
}

.icons-container{
    width: 90%;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0 2rem;
    margin-top: 9rem;
    position: relative;
    z-index: 10;
}

.challengers-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0 2rem;

}

.challengers-icon{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow-y: auto;
    scrollbar-color: #ff9600 #ff9600 ;
    scrollbar-width: thin;
}

.icon-container{
    height: 150px;
    width: 150px;
}


.icon-pnj{
    border: 6px solid #a8f0ff;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #4D3A4D;
    
    
    transition: 1s ease-in-out;
}

.icon-container > svg{
    display: none;
}

.icon-pnj:hover{
    transition: 0.2s ease-in-out;
    animation: glow-blue 2s ease-in-out infinite;
    
}

.pnj-lock{
    filter: grayscale(100%);
}

.icon-container svg.won {
    display: block;
    height: 80%;width: 80%;
}

.arena{
    display: flex;
    flex-direction: column-reverse;
    position: relative;


    overflow: hidden;

    width: 50vw;
    min-width: 646px;
    height: 45vh;

    border: 6px solid #00262e;
    padding: 2rem 2rem 0 2rem;

    background: url(/img/background/village.webp);
    background-size: cover;
    background-position-x: center;
    background-position-y: 65%;
}



.arena > div{
    width: 100%;
    height: 50%;
}

.arena > div:nth-child(2){
    height: 50%;
    display: flex;  
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.arena > div:nth-child(1){
    height: 50%;
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

.img-container{
    height: 100%;
    display: flex;
    align-items: end;
}

.monster-ui{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: end;

    padding:1rem;
    background-color: #00262e;
    background-image: url(/img/wave-white.svg);
    background-size: 20%;

    box-shadow: 0px 0px 20px #00262e;
    border: 2px solid white;
    outline: 6px solid #00262e;
    border-radius: 0 25px ;

    color: white;
    gap: 1rem 0;

    animation: pan 30s linear infinite;
}

.health-bar{
    position: relative;
    width: 80%;
    height: 15px;

    border: 2px solid white;
    border-radius: 10px;
    background-color: #ffffff3d;
    z-index: 0;
}


.health{
    position: absolute;
    height: 100%;;

    background-color: #68d2e8;
    background-image: url(/img/plus-white.svg);
    background-size: 15px;
    
    border-radius: 10px;
    z-index: 1;
    
    animation: pan 30s linear infinite;
}

.monster-ui > div:nth-child(1){
    display: flex;
    justify-content: space-between;
}

.sprite-fight{
    height: 200px;
    width: 200px;
    position: relative;
    z-index: 2;
}


.img-container::before{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 200px;
    height: 50px;

    background: #00262e;
    border-radius: 50%;
    z-index: 1;
    transform: translate(25%, 50%);
    filter: blur(8px);
}

.fightMenu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    width: calc(50vw + 4rem);
    min-width: calc(646px + 4rem);
    height: 40vh;

    background: white;
    background-image: url(/img/diag.svg);
    background-size: 5%;
    border: 6px solid #00262e;
    border-top: 0;
    animation: pan 30s linear infinite;
    box-shadow: inset 0px 0px 10px #00262e;
}

.fight-button-container{
    width: 80%;
    height: 50%;

    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
    align-items: center;

}

.fight-button-container > span{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;

    border-radius: 0 15px;
}

.fight-info{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;
    height: 15%;
    background: #00262e;
    background-image: url(/img/hideout-blue.svg);
    background-size: 10%;
    
    border: 3px solid white;
    outline: 4px solid #00262e;
    border-radius: 15px 0;

    color: white;
    font-weight: lighter;

    box-shadow: 0px 0px 15px #00262e;
    animation: pan 30s linear infinite;
}

/*--------------animation---------------*/

@keyframes pan {
    from {
        background-position: 0% 0;
    }
    to {
        background-position: 100% 0;
    }
}

@keyframes resume-sprite-animation {
    0% {
        transform: translateY(0%);
    } 50%{
        transform: translateY(-5%);
    } 100%{
        transform: translateY(0%);
    } 
}

@keyframes glow-yellow {
    0% {
        box-shadow: 0 0 20px 10px #ffc100;
    } 50% {
        box-shadow: 0 0 20px 10px #ffdb6d;
    } 100% {
        box-shadow: 0 0 20px 10px #ffc100;
    }
}

@keyframes glow-blue {
    0% {
        box-shadow: 0 0 20px 10px #68d2e8;
    } 50% {
        box-shadow: 0 0 20px 10px #a8f0ff;
    } 100% {
        box-shadow: 0 0 20px 10px #68d2e8;
    }
}

/*-----------------Menu----------------*/

.menu-test {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    margin: 1rem;
    background-color: white;
    color: #00262e;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #00262e;
    transition: all 0.5s ease; /* smooth transition for shape change */
    overflow: hidden;
}

.icon-test {
    position: absolute;
    top: 2%;
    left: 0%;
    z-index: 20;
    margin: 1rem;
    width: 75px;
    height: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.line-1, .line-2, .line-3 {
    height: 4px;
    width: 60%;
    border-radius: 30px;
    background-color: #00262e;
    margin: 0 auto;
    transition: transform 0.3s, opacity 0.3s;
}

.menu-container-test {
    display: none;
    height: 60%;
    background: white;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 2rem;
}

.menu-container-test p {
    transition: transform 0.3s ease, opacity 0.3s ease;
    text-transform: uppercase;
    transform: translateY(-20px);
    opacity: 0;
}

.menu-container-test p:hover {
    color: #ff9600;
    cursor: pointer;
}

.menu-test.expand {
    border-radius: 15px;
    width: 150px;
    height: 150px;
    animation: expandMenu 0.5s forwards;
}

.menu-test.collapse {
    animation: collapseMenu 0.5s forwards;
}

@keyframes expandMenu {
    0%, 50% {
        animation-timing-function: steps(10, end); /* Creating a 'jerky' effect */
    }
    50%, 100% {
        animation-timing-function: ease-out; /* Smooth transition */
    }
    0% {
        border-radius: 50%;
        width: 75px;
        height: 75px;
    }
    50% {
        border-radius: 15px;
        width: 300px;
        height: 75px;
    }
    100% {
        width: 300px;
        height: 450px;
    }
}

@keyframes collapseMenu {
    0% {
        width: 300px;
        height: 450px;
        border-radius: 15px;
    }
    50% {
        border-radius: 15px;
        width: 300px;
        height: 75px;
    }
    100% {
        border-radius: 50%;
        width: 75px;
        height: 75px;
    }
}

.menu-test.open-menu .menu-container-test {
    display: block;
    animation: fadeInMenu 0.5s forwards;
}

@keyframes fadeInMenu {
    to {
        opacity: 1;
    }
}

.menu-test.open-menu .menu-container-test p {
    animation: slideInText 0.5s forwards;
}

@keyframes slideInText {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.icon-open{
    transform: rotate(45deg) translate(4px, 4px);
}
.icon-open2{
    transform: rotate(-45deg) translate(4px, -4px);
}
.icon-open3{
    opacity: 0;
}

/*------------SHOP-----------*/

/* Base styles for the shop */
#shop {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
}

.next, .prev {
    position: absolute;
    height: 75px;
    width: 75px;
    background-color: white;
    border: 4px solid #ffc100;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    opacity: 0.5;
}

.next:hover, .prev:hover{
    opacity: 1;
}

.next {
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.prev {
    top: 50%;
    left: 2%;
    transform: translateY(-50%) rotate(180deg);
}

#shop > h2 {
    width: 30%;
    color: white;
    background-color: #ffc100;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    text-align: center;
    font-size: 4rem;
    box-shadow: 0px 0px 10px #00262e52;
}

.items-container {
    display: flex;
    flex-wrap: nowrap;
    /* width: 100%; */
    gap: 0 4rem;
    scroll-behavior: smooth;
    padding: 0 10px;
}

.items {
    height: 300px;
    width: 300px;
    background-size: cover;
    border: 3px solid white;
    outline: 6px solid #ffc100;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 0px 20px #00262e;
    cursor: pointer;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}

.items:hover {
    outline-color: white;
    border-color: #ffc100;
}

.items > h3 {
    background-color: #ffc100;
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #00262e;
}

.desc-container {
    width: 30%;
    padding: 1rem 0;
    background-color: #ffc100;
    color: white;
    font-size: 1rem;
    text-align: center;
    border: 2px solid white;
    outline: 4px solid #ffc100;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #00262e;
}

.item-price {
    position: absolute;
    top: 2%;
    left: 2%;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: white;
    text-shadow: 0px 0px 10px #00262ec2;
}

.team-modale{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    height: 90%;
    width: 80%;

    position: absolute;
    background-color: white;
    background-image: url(/img/wave-yellow.svg);
    background-size: 25%;

    border: 6px solid #ffc100;
    border-radius: 50px;

    box-shadow: 0px 0px 15px #00262e6c;
    animation: pan 30s linear infinite;
    z-index: 1;
}

.team-modale > h3{
    width: 50%;

    padding: 1rem 0;

    background-color: #ffc100;

    border-radius: 50px;

    font-size: 2rem;
    color: white;
    text-align: center;
    text-transform: uppercase;

    box-shadow: 0px 0px 15px #00262e34;
}

.team-modale-overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #00262e;
    background-image: url(/img/hideout-blue.svg);
    background-size: 10%;
    opacity: 0.3;
    z-index: 0;

    animation: pan 30s linear infinite;
}

#wrapper {
    height: fit-content;
    width: 100%;
}

#carousel {
    scroll-behavior: smooth;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow-x: auto;
    padding: 1.5rem;
}

#carousel::-webkit-scrollbar {
    height: 0;
}


/*---------------Quest---------------*/

#quest-menu{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quest-menu-container{
    height: 80%;
    width: 80%;

    display: flex;

    background-color: #ff9600;
    background-image: url(/img/hideout.svg);
    background-size: 5%;

    border: 2px solid white;
    outline: 4px solid #ff9600;
    border-radius: 25px;

    box-shadow: 0px 0px 15px #00262e94;
    animation: pan 60s linear infinite;
}

.quest-container{
    width: 55%;
    height: 90%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;
}

.title-container{
    width: 80%;
   

    display: flex;

    color: white;


}

.main-quest-title, .side-quest-title{
    width: 50%;
    padding: 1.5rem;
    text-align: center;
}

.main-quest-title{
    border-radius: 50px 0 0 50px ;
    background-color: white;
    color: #00262e;
}

.side-quest-title{
    border-radius: 0 50px 50px 0 ;
    background-color: #00262e;
}

.main-quest-container, .side-quest-container{
    width: 100%;
    height: 60%;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    overflow: auto;
}

.main-quest-title:hover, .side-quest-title:hover{
    cursor: pointer;
}

.selected-main-quest{
    background-color: #00262e;
    color: white;
}

.selected-side-quest{
    background-color: white;
    color: #00262e;
}

.main-quest-container{
    display: flex;
}

.side-quest-container{
    display: none;
}

.main-quest-container::-webkit-scrollbar,.side-quest-container::-webkit-scrollbar {
    width: 10px;
  }
  
  .main-quest-container::-webkit-scrollbar-track,.side-quest-container::-webkit-scrollbar {
    background: #00262e;
    border-radius: 10px;

  }
  
  .main-quest-container::-webkit-scrollbar-thumb,.side-quest-container::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
  }

.open-main{
    display: none;
}

.open-side{
    display: flex;
}

.quest{
    width: 85%;
    padding: 1.5rem 0;
    margin: 1rem 0;
    font-size: 1rem;
    color: white;
    border-radius: 50px;

    background-color: #00262e;
    background-image: url(/img/wave-white.svg);
    background-size: 20%;

    box-shadow:  0px 0px 15px #00262e94;

    animation: pan 30s linear infinite;
}

.quest > h3{
    padding: 0 2rem;
}

.quest:hover{
    cursor: pointer;
}

.quest-desc-container{
    position: relative;

    width: 45%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;

    background-color: #00262e;
    color: white;
    background-image: url(/img/wave-white.svg);
    background-size: 20%;

    border-radius: 23px;
    box-shadow: 0px 0px 15px #00262e94;

    animation: pan 30s linear infinite;
}

.quest-desc-container > h3, .quest-desc-container > p{
    padding: 0 3rem;
}

.quest-title{
    font-size: 2.5rem;
}

.quest-desc-container > h3{
    font-size: 3.5rem;
    text-transform: uppercase;
    opacity: 0.2;

    position: absolute;
    top: 2%;
    left: 2%;
}

.line{
    display: block;
    width: 80%;
    margin: 1rem 0;
    height: 1px;
    background-color: white;
    z-index: 20;
}

.divider{
    width: 100%;
    height: fit-content;
    margin: 0 3rem;
}

.available{
    color: #ff9600;
    animation: glow-yellow 2s linear infinite;
}



